$mockup-path: "~html5-device-mockups/device-mockups";
$red: #ef5350;
$primary: $red;
$secondary: #f5f5f5;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/card";
@import "~html5-device-mockups/src/scss/device-mockups";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-logo {
  width: 4rem;
  height: 4rem;
}

.hero-app-store-btn svg {
  width: 120px;
  height: 40px;
}

.features-item-icon {
  width: 4rem;
  color: $primary;

  svg {
    fill: currentColor;
  }
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.footer-link {
  padding-left: 1rem;
  padding-right: 1rem;
  color: $white;
  text-decoration: underline;
}

.testimonials-item-avatar {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  opacity: 0;
}

.screenshots-item-img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  border: 1px solid $gray-400;
  opacity: 0;
}

.swiper-container-horizontal {
  & > .swiper-scrollbar {
    position: relative;
    left: auto;
    bottom: auto;
    z-index: auto;
    width: auto;
    height: 0.5rem;
  }

  & > .swiper-pagination-bullets {
    position: relative;
    bottom: auto;
    top: auto;
  }

  .swiper-pagination-bullet-active {
    background-color: $primary;
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin-top: -4rem;
    color: $primary;
    background-image: none;
    font-size: 4rem;
    width: auto;
    height: auto;
    opacity: 0.5;

    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  .swiper-lazy-preloader {
    margin-top: 0;
  }
}

.swiper-lazy-loaded,
.lazyloaded {
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
